[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dxp = {editable = true, path = "."}
argparse = "*"
pandas = "*"
numpy = "*"
wora = "*"

[dev-packages]

[requires]
python_version = "3.10"
